<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		
		<!--server-->
		<!--<add name="connectionString" connectionString="Data Source=localhost;Initial Catalog=AudioDB2;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->

		<!--Shubham--><!--
		<add name="connectionString" connectionString="Data Source=DESKTOP-MD0J8R4\SQLEXPRESS;Initial Catalog=AudioTestDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
		
		<!--Akshay-->
		<!--<add name="connectionString" connectionString="Data Source=N-20L6PF16Z7MN\SQLEXPRESS;Initial Catalog=AudioTestDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
		
		<!--server-->
		<!--<add name="connectionString" connectionString="Data Source=WIN-IORH1Q0JTDQ\SQLEXPRESS;Initial Catalog=AudioTestDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
		
		<!--SVP-->
		<add name="connectionString" connectionString="Data Source=localhost;Initial Catalog=AudioTestDB;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>
